.toolBar {
    box-shadow: 0px 1px 5px #888888;
    --background:#6633cc;
    height: 56px;
    text-align: center;
}
.toolbar-container {
    height: 56px !important;
}
#blueButton1{
    --border-radius: 5px !important;
    --background: #6633cc!important;
    height: 48px;
    // font-family: Roboto-Medium;
    font-size: 16px;
    // font-weight: bold;
    line-height: 19px;
    text-transform: none;
    width: 97%;
}