<ion-content style="--background: #F6F6F6;">
  <ion-list lines="none" *ngIf="paramTitle==='profile'">
    <ion-item class="ionItem" (click)="segment=='saved' ? removeBookmarkedPet() : removePet()">Remove from Saved Pets</ion-item>
    <ion-item class="ionItem" (click)="shareLink1()">Share Link</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='adoptionList' && paramId==='1'">
    <ion-item class="ionItem" (click)="shareLink1()">Share Link</ion-item>
    <ion-item class="ionItem" (click)="reportPage()">Report Pet</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='adoptionList' && paramId==='2'">
    <ion-item class="ionItem" (click)="adoptPet()">Mark as Adopted</ion-item>
    <ion-item class="ionItem" (click)="removePet()">Remove Pet from listing</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='chatList'">
    <!-- <ion-item class="ionItem" >Block</ion-item> -->
    <ion-item class="ionItem" >Report User</ion-item>
    <ion-item class="ionItem" >Mute</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='chat'">
    <!-- <ion-item class="ionItem" >Block</ion-item> -->
    <ion-item class="ionItem" >Report User</ion-item>
    <ion-item class="ionItem" >Mute</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='chatpage'">
    <!-- <ion-item class="ionItem" >Block</ion-item> -->
    <ion-item class="ionItem" >Report User</ion-item>
    <ion-item class="ionItem" >Mute</ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="paramTitle==='adoptionDetails'">
    <ion-item class="ionItem" (click)="shareLink()">Share Link</ion-item>
    <ion-item  *ngIf="paramId === '2'" (click)="editPetProfile()" class="ionItem">Edit Profile</ion-item>
    <ion-item *ngIf="paramId === '1'" class="ionItem" (click)="reportPage()">Report Pet</ion-item>
  </ion-list>
  <ion-list lines="none" *ngIf="paramTitle==='userProfile'">
    <ion-item class="ionItem" (click)="shareLink1()">Share Link</ion-item>
    <ion-item class="ionItem" (click)="reportProfile()">Report Profile</ion-item>
  </ion-list>
  <div *ngIf="paramTitle==='enquiry_info'">
    <ion-row>
      <ion-col col-6>Address</ion-col>
      <ion-col col-6>: {{enquiryInfo.address}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Cost Awareness</ion-col>
      <ion-col col-6>: {{enquiryInfo.costAwareness}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Family Members</ion-col>
      <ion-col col-6>: {{enquiryInfo.familyMembers}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>House Type</ion-col>
      <ion-col col-6>: {{enquiryInfo.houseType}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Is Experienced ? </ion-col>
      <ion-col col-6>: {{enquiryInfo.isExperienced}}</ion-col>
    </ion-row>
  </div>
</ion-content>