// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.ionItem {
    --background: #ffffff;
    --border-bottom: none !important;
    // font-family: Roboto-Medium;
    font-size: 14px;
    line-height: 30px;
    --background-activated: #6633cc;
    --color-activated: #ffffff;
}