.details-header{
  // -webkit-transition: width 2s; /* Safari */
  // transition: width 2s;
  // transition-timing-function: linear;
  transition-property: background;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  background-color: transparent;
  animation-direction: alternate;
}
.sliderImage{
  padding: 0;
  object-fit: cover;
  overflow: hidden;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  #vl_details {
    border: 0.5px solid #dee2e6;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .hl_details {
    border: 0.5px solid #dee2e6;
    margin-top: 4px;
    margin-bottom: 4px;

  }
  .heading{
      font-size: 12px;
      color: #9597a6;
      padding-left: 10%;
      margin-top: 10%;
  }
  .values{
      font-size: 18px;
      color: #454f63;
      padding-left: 10%;
      margin-top: -5%;
  }
  ion-card {
      border-radius: 8px;
  }
  .sampleText {
    color: #454545;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }
  #titles {
      color: #454545;
      font-size: 16px;
      margin-left: 10px;
  }
  #startButton {
    --border-radius: 0px !important;
    --background: #6633cc !important;
    height: 35px;
    margin-top: -5%;
}
video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}

.fabButton{
    margin: 0% 0% 50% -20%;
    height: 9vh;
    width: 9vh;
}